{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>

<form method="post" action="/run">

  <p>Select an input file: </p>
  <select name="input_files_dropdown" multiple size="7">
    {%  for file in input_files %}
      <option value="{{file}}">{{file}}</option>
    {% endfor %}
  </select>
  <input type="Submit" name="action" value="View" class="view_button"/>
  <textarea name="input" rows="7" cols="50">{{input_file}}</textarea>
  <br/>
  <br/>
  <div class="button_holder">
    <input type="Submit" name="action" value="Mace4" class="mace4_button"/>
    <input type="Submit" name="action" value="Prover9" class="prover9_button"/>
  </div>
</form>
<p>Result: </p>
<textarea name="result" rows="50" cols="75">{{result}}</textarea>

<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <li><a href="{{ url_for('model') }}">Mace4 Model</a></li>
</ul>

{% endblock %}
