{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>

<!-- note how items from the "static" folder are linked -->
<img alt="Photo: Bengal Tiger" src="{{ url_for('static', filename='images/tiger.jpg') }}">
<br/>

<p>Select an input file: </p>

<form method="post" action="/solve">
  <select name="input_files_dropdown" multiple size="5">
    {%  for file in input_files %}
      <option value="{{file}}">{{file}}</option>
    {% endfor %}
  </select>
  <br/>
  <br/>
  <div class="button_holder">
    <input type="Submit" value="Solve" class="solve_button"/>
  </div>
</form>
<p>Result: </p>
<textarea name="result" rows="10" cols="60">{{result}}</textarea>

<ul>
  <!-- note how items from routes in the the Python script are linked -->
  <li><a href="{{ url_for('index') }}">Home Page</a></li>
</ul>

{% endblock %}
